


.Login{
  text-align: center;
  padding: 1em;
  margin: 1em;
  
  
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 100px;
}

.form {
  padding: 1em;
  margin: 0 auto;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 50px;
  max-width: 320px;
  background-color: #DB3D44;
}

.button {
  justify-content: flex-end;
  padding: 30px, 100px;
  max-width: 320px;

}

.Login-title {
  font-size: 1.5em;
}

.Login-intro {
  font-size: large;
}

#loginBtn {
  margin-top: 10px;
}
@keyframes Login-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
  
  
