@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    
    button {
      background:none!important;
       border:none; 
       padding:0!important;
      
      /*optional*/
      font-family:arial,sans-serif; /*input has OS specific font-family*/
       color:#069;
       text-decoration:underline;
       cursor:pointer;
    }
  }
  